{% extends 'base_accounts.html' %}
{% load form_tags widget_tweaks %}

{% block title %}Estado de los medios{% endblock %}

{% block content %}
    <div class="row justify-content-center"> <font face="peraltaregular"> <h2>Estado de los medios del grupo {{grupo}}</h2> </font> </div>
    <div class="page-section" id="estado">
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col">{{ form.salon.label_tag }} </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">{% render_field form.salon class=form.salon|input_class  %}</div>
            <div class="col"><button type="submit" class="btn btn-primary">Filtrar</button></div>
        </div>
    </form>
    <br>
    <div class="row justify-content-center">
        <table class="table table-striped mb-4">
            <thead class="thead-dark">
                <tr>
                    {% for i in header %}
                        <th>{{ i }}{% if i == 'Valor' %} (CUP) {% endif %}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in medios %}
                    <tr>
                        {% for col in row.values %}
                            <td class="align-middle">{{col}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>
{% endblock content %}